################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
/frontend/MyQuotesLibrary.Client/Properties/PublishProfiles
